<div class="px-8 lg:pt-4 flex flex-col items-center justify-between">
    <p class="p-2 lg:p-4 font-semibold lg:text-lg text-green-800 rounded-full">
        The platform for corporate sustainability
    </p>
    <h2 class="text-5xl font-bold leading-snug my-12 lg:my-16 lg:px-4 lg:text-6xl">
        Take your first steps towards a <span class="text-green-500">sustainable future</span>
    </h2>
    <p class="font-light text-xl lg:px-4 lg:text-2xl">
        Measure, reduce and manage the emissions of your company. Gain ESG certifications and make sustainability your competitive edge.
    </p>
    <div class="w-full lg:h-[90px] flex flex-col items-center lg:flex-row lg:justify-evenly mt-12 lg:mt-24">
        <button type="button" [routerLink]="['/signup']" routerLinkActive="router-link-active"
            class="landing-button bg-green-500 text-white hover:border-green-600">
            Get started
        </button>
        <button type="button" class="landing-button bg-transparent text-green-500 hover:bg-green-500 hover:text-white">
            Discover solutions
        </button>
    </div>
</div>
