<form [formGroup]="companyInfoFormGroup" (ngSubmit)="onSubmit()">
    <mat-form-field class="flex flex-col gap-1 w-full" appearance="outline">
        <mat-label>Company Name</mat-label>
        <input
            matInput
            id="companyName"
            type="text"
            formControlName="companyName"
            [attr.aria-invalid]="companyInfoFormGroup.get('companyName')?.invalid"
        >
        <mat-error class="text-red-500">Company name is required.</mat-error>
    </mat-form-field>

    <mat-form-field class="flex flex-col gap-1 w-full" appearance="outline">
        <mat-label>VAT Number</mat-label>
        <input 
            matInput
            id="vatNumber" 
            type="text" 
            formControlName="vatNumber"
            [attr.aria-invalid]="companyInfoFormGroup.get('vatNumber')?.invalid"
        >
        
        @if(companyInfoFormGroup.get('vatNumber')?.touched &&
            companyInfoFormGroup.get('vatNumber')?.hasError('euVatInvalid')) {
            <mat-error class="text-red-500">Please enter a valid EU VAT number.</mat-error>
        } @else {
            <mat-error class="text-red-500">VAT number is required.</mat-error>
        }
    </mat-form-field>

    <mat-form-field>
        <mat-label>Business model</mat-label>
        <mat-select formControlName="companyBusinessModel">
            @for (model of companyBusinessModels; track model) {
                <mat-option [value]="model">{{model}}</mat-option>
            }
        </mat-select>
        <mat-error>Please choose your business model</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Company size</mat-label>
        <mat-select formControlName="companySize">
            @for (model of companySizes; track model) {
                <mat-option [value]="model">{{model}}</mat-option>
            }
        </mat-select>
        <mat-error>Please choose your company size.</mat-error>
    </mat-form-field>
</form>
