<form [formGroup]="companyInfoFormGroup" (ngSubmit)="onSubmit()">
    <div>
        <label for="companyName">Company Name:</label>
        <input
            id="companyName"
            type="text"
            formControlName="companyName"
            aria-describedby="companyNameError"
            [attr.aria-invalid]="companyInfoFormGroup.get('companyName')?.invalid"
            [ngClass]="{
                'border-2 border-red-500': companyInfoFormGroup.get('companyName')?.invalid && companyInfoFormGroup.get('companyName')?.touched,
            }"
        >
        @if (companyInfoFormGroup.get('companyName')?.invalid &&
            companyInfoFormGroup.get('companyName')?.touched &&
            companyInfoFormGroup.get('companyName')?.errors?.['required']
        ) {            
            <span class="font-light text-red-500">Company name is required.</span>
        }
    </div>

    <div>
        <label for="vatNumber">VAT Number</label>
        <input 
            id="vatNumber" 
            type="text" 
            formControlName="vatNumber"
            aria-describedby="vatNumberError"
            [attr.aria-invalid]="companyInfoFormGroup.get('vatNumber')?.invalid && companyInfoFormGroup.get('vatNumber')?.touched"
            [ngClass]="{
                'border-red-500': companyInfoFormGroup.get('companyName')?.invalid,
            }"
            class="border-2"
        >
        @if (companyInfoFormGroup.get('vatNumber')?.invalid &&
            companyInfoFormGroup.get('vatNumber')?.touched &&
            companyInfoFormGroup.get('vatNumber')?.errors?.['required']
        ) {            
            <span class="font-light text-red-500">VAT number is required.</span>
        }
    </div>

    <!--todo: two required selects for industry and company size -->

    <button type="submit" [disabled]="companyInfoFormGroup.invalid">Next</button>
</form>
